html {
  font-size: 16px;
}

body  {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fafafa;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 4.3rem;
  color: #262626;
}

h2  {
  font-weight: 900;
  font-size: 1.45rem;
  color: #262626;
  text-transform: uppercase;
}

h3  {
  font-weight: 600;
  font-size: 18px;
  color: #262626;
  border-bottom: 3px solid #009874;
  display: inline-block;
}

p   {
  font-weight: 400;
  font-size: 16px;
  color: #262626;
}

a   {
  font-weight: 600;
  font-size: 23px;
  color: #565656;
}

img   {
  vertical-align: middle;
}

/* .hero {
  background: linear-gradient(90deg, #fafafa 20px, transparent 1%) center, linear-gradient(#fafafa 20px, transparent 1%) center, #dadada;
  background-size: 22px 22px;
} */

header  {
  height: 80px;
  margin: 0;
  background-color: #fafafa;
  /* position: fixed; */
  display: grid;
  top: 0;
  left: 0;
  /* width: 100%; */
  /* background: linear-gradient(90deg, #fafafa 20px, transparent 1%) center, linear-gradient(#fafafa 20px, transparent 1%) center, #dadada;
  background-size: 22px 22px; */
}

.nav-list {
  text-align: right;
  padding-right: 1rem;
}

.nav-item {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item a{
  text-decoration: none;
  text-transform: lowercase;
  line-height: 80px;
  border-bottom: 0px solid #009874;
  font-size: 1.5rem;
}

.nav-item a:hover{
  border-bottom: 3px solid #009874;
}

.nav-item img{
  max-width: 42px;
  float: left;
  margin-left: 1rem;
  margin-top: 20px;
}

#wrapper {
  width: 80vw;
  margin:0 auto;
  /* background-color: chartreuse; */
}


.blurb {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 6.5rem;
  background: linear-gradient(90deg, #fafafa 20px, transparent 1%) center, linear-gradient(#fafafa 20px, transparent 1%) center, #dadada;
  background-size: 22px 22px;
}

.blurb h1{
  margin: 0 0 30px 0;
  /* background-color: #fafafa; */
  /* border: 0.3rem solid black; */
  padding: 1rem;
}

.blurb em{
  font-style: normal;
  display: inline;
  background-color: #18e291;
  /* border-bottom: 0.75rem solid #14b776; */
  /* background-color: #ffcc00; */
  padding: 0.1rem 0.75rem;
}



.blurb h2{
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 0;
  padding: 0 1rem;
}

.construction {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  align-content: top;
  overflow: hidden;
  /* margin: 0 12% 0 0; */
  text-align: left;
  /* height: 40rem; */
}

.construction h3{
  border: none;
  margin: 0;
  line-height: normal;
  display: block;
  padding: 0.5rem 1rem;

}

.construction figure{
  /* grid-row-start: 2; */

}

.construction img{
  width: 100%;
  padding: 0;
  margin: 0;
}

.construction figcaption{
  font-size: 0.75rem;
  line-height: normal;
}

figcaption p,a{
  color: #757575;
  padding: 0 1rem;
  font-size: 0.75rem;
}

.construction a:hover{
  color: darkseagreen;
}


#titles {
  /* margin-left: 12%; */
  border-bottom: 1px solid #ccc;
}

#titles h2{
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 0;
}

.cards {
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  /* background-color: #fafafa; */
}

.project {
  /* width: 44%; */
  background-color: #fafafa;
  /* margin: 0 4rem 4rem 0; */
}

.project h2,p{
  padding: 16px 16px 0 16px;
  margin: 0;
}

.project  a{
  padding: 16px 16px 0px 16px;
  line-height:  40px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #262626;
  text-decoration: none;
  float: right;
}

.project  img{
  max-width: 100%;
  height: auto;
  padding-top: 8px;
}

#build-a-guild {
  background-color: #96E2C9;
  /* flex: auto; */
}

#polished {
  background-color: #AFAFD1;
  /* flex: auto; */
}

#fort-yurt {
  background-color: #F5CD65;
  /* flex: auto; */
}

#daily-ui {
  background-color: #F5CABF;
  /* flex: auto; */
}

/* .button {
  display: grid;
  align-content: center;
  justify-content: center;
  border: 1rem solid #009874;
} */

/* .button h3{
  border: 0.1rem solid #009874;
  padding: 0.75rem 1rem;
  border-radius: 4rem;
  text-transform: uppercase;
  background-color: #18e291;
} */

.more {
  display: grid;
  align-content: center;
  justify-content: center;
  background: linear-gradient(90deg, #fafafa 20px, transparent 1%) center, linear-gradient(#fafafa 20px, transparent 1%) center, #dadada;
  background-size: 22px 22px;
}

button {
margin: 2rem 0;
outline: none;
height: 3rem;
text-align: center;
width: 10.5rem;
border-radius: 2.5rem;
background: #fff;
border: 2px solid #1ECD97;
color: #1ECD97;
letter-spacing:1px;
text-shadow:0;
transition: all 0.25s ease;
}

button a{
  text-decoration: none;
  color: #1ECD97;
  padding: 1rem;
  font-size: 1rem;
}

button:hover {
  border: 4px solid #1ECD97;
  transition: all 0.25s ease;
}


footer  {
  margin-top: 20px;
  padding: 25px 0px;
  text-align: center;
  background-color: #18e291;
}

footer  h2,p{
  margin: 0;
  color: #2a2a2a;
}

/* @media screen and (max-width: 580px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  } */

@media screen and (max-width: 630px) {

  h1 {
    font-size: 2.3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }



}
